.menu-wrapper .logo .logo-img {
    height: 1.0em !important;
    width: 8.3rem !important;
    margin-right: 3px !important;
}

.menu-wrapper::before {
    background-color: #0688c6 !important;
    border-right: 3px solid #000 !important;
}

.admin__menu .level-0 > a {
    color: #fff !important;
}

.admin__menu .level-0:hover > a {
    background-color: #00557e !important;
    border-right: 3px solid #000 !important;
    padding-right: 2px !important;
}

.admin__menu .level-0._active > a {
    background-color: #00557e !important;
    border-right: 3px solid #000 !important;
    padding-right: 2px !important;
}

.admin__menu .level-0 > .submenu {
    background-color: #00557e !important;
}

.page-layout-admin-login .page-wrapper {
    background-color: #0688c6 !important;
    border: 3px solid #000 !important;
}

.message, .order-errors .admin__fieldset-wrapper .title {
    border: 3px solid #000 !important;
}

.message-system-inner .message, .message-system-inner .order-errors .admin__fieldset-wrapper .title {
    border: none !important;
}

.message-system-inner {
    border: 3px solid #ffa700 !important;
}

.admin__control-text, .admin__control-select, .admin__control-multiselect, .admin__control-file-label::before, .admin__control-textarea, .admin__control-addon [class*="admin__control-"][class] ~ [class*="admin__addon-"]:last-child::before, .selectmenu, [class*="adminhtml-giftwrapping-"] .field-base_price .admin__control-addon [class*="admin__control-"][class] ~ .addafter:last-child::before, .ui-datepicker .ui-datepicker-title select {
    border: 3px solid #000 !important;
}

.action-primary {
    border: none !important;
    background-color: #000 !important;
}

.action-primary:hover, .action-primary:active, .action-primary:focus {
    border: none !important;
    background-color: #a8b9c0 !important;
}

.page-layout-admin-login .admin__legend {
    color: #000 !important;
    font-weight: 600 !important;
}

.admin__scope-old input[type="text"], .admin__scope-old input[type="password"], .admin__scope-old input[type="datetime"], .admin__scope-old input[type="datetime-local"], .admin__scope-old input[type="date"], .admin__scope-old input[type="month"], .admin__scope-old input[type="time"], .admin__scope-old input[type="week"], .admin__scope-old input[type="number"], .admin__scope-old input[type="range"], .admin__scope-old input[type="email"], .admin__scope-old input[type="url"], .admin__scope-old input[type="search"], .admin__scope-old input.search, .admin__scope-old input[type="tel"], .admin__scope-old input[type="color"], .admin__scope-old textarea, .admin__scope-old select {
    /* height: 38px !important; */
    height: auto !important;
}

.data-grid th {
    background-color: #0688c6 !important;
    border: 0.1rem solid #000 !important;
}

.abs-action-primary, button.primary, .page-actions > button.action-primary, .page-actions .page-actions-buttons > button.action-primary, .page-actions .page-actions-buttons > .action.action-primary, .page-actions > button.primary, .page-actions .page-actions-buttons > button.primary, .page-actions .page-actions-buttons > .action.primary, .page-actions .page-actions.floating-header > button.action-primary, .page-actions .page-actions.floating-header > .action.action-primary, .page-actions .page-actions.floating-header > button.primary, .page-actions .page-actions.floating-header > .action.primary, .block-footer .action-add.primary, .page-actions > .block-footer .action-add.action-primary, .page-actions .page-actions-buttons > .block-footer .action-add.action-primary, .page-actions > .block-footer .action-add.primary, .page-actions .page-actions-buttons > .block-footer .action-add.primary {
    background-color: #000 !important;
    border-color: #000 !important;
}

.abs-action-primary:hover, .abs-action-primary:active, .abs-action-primary:focus, button.primary:hover, button.primary:active, button.primary:focus, .page-actions > button.action-primary:hover, .page-actions > button.action-primary:active, .page-actions > button.action-primary:focus, .page-actions .page-actions-buttons > button.action-primary:hover, .page-actions .page-actions-buttons > button.action-primary:active, .page-actions .page-actions-buttons > button.action-primary:focus, .page-actions .page-actions-buttons > .action.action-primary:hover, .page-actions .page-actions-buttons > .action.action-primary:active, .page-actions .page-actions-buttons > .action.action-primary:focus, .page-actions > button.primary:hover, .page-actions > button.primary:active, .page-actions > button.primary:focus, .page-actions .page-actions-buttons > button.primary:hover, .page-actions .page-actions-buttons > button.primary:active, .page-actions .page-actions-buttons > button.primary:focus, .page-actions .page-actions-buttons > .action.primary:hover, .page-actions .page-actions-buttons > .action.primary:active, .page-actions .page-actions-buttons > .action.primary:focus, .page-actions .page-actions.floating-header > button.action-primary:hover, .page-actions .page-actions.floating-header > button.action-primary:active, .page-actions .page-actions.floating-header > button.action-primary:focus, .page-actions .page-actions.floating-header > .action.action-primary:hover, .page-actions .page-actions.floating-header > .action.action-primary:active, .page-actions .page-actions.floating-header > .action.action-primary:focus, .page-actions .page-actions.floating-header > button.primary:hover, .page-actions .page-actions.floating-header > button.primary:active, .page-actions .page-actions.floating-header > button.primary:focus, .page-actions .page-actions.floating-header > .action.primary:hover, .page-actions .page-actions.floating-header > .action.primary:active, .page-actions .page-actions.floating-header > .action.primary:focus, .block-footer .action-add.primary:hover, .block-footer .action-add.primary:active, .block-footer .action-add.primary:focus, .page-actions > .block-footer .action-add.action-primary:hover, .page-actions > .block-footer .action-add.action-primary:active, .page-actions > .block-footer .action-add.action-primary:focus, .page-actions .page-actions-buttons > .block-footer .action-add.action-primary:hover, .page-actions .page-actions-buttons > .block-footer .action-add.action-primary:active, .page-actions .page-actions-buttons > .block-footer .action-add.action-primary:focus, .page-actions > .block-footer .action-add.primary:hover, .page-actions > .block-footer .action-add.primary:active, .page-actions > .block-footer .action-add.primary:focus, .page-actions .page-actions-buttons > .block-footer .action-add.primary:hover, .page-actions .page-actions-buttons > .block-footer .action-add.primary:active, .page-actions .page-actions-buttons > .block-footer .action-add.primary:focus {
    background-color: #0688c6 !important;
    border-color: #0688c6 !important;
    box-shadow: unset !important;
}