<?xml version="1.0"?>
<!--
/**
 * @package    Loom_Catalog
 * @copyright  Loom Oy - 2020
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Config">
        <plugin name="Loom_Catalog::addCustomSortOptions" type="Loom\Catalog\Plugin\Model\Config" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Loom_Catalog::implementCustomSortOptions" type="Loom\Catalog\Plugin\Product\ProductList\Toolbar" />
    </type>
</config>